{{ define "main" }}   

{{ partial "page-header.html" . }}

  <div class="mt-5 mb-5 vh-30" style="background: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt-5 pt-5"><a href="mailto:{{site.Params.company.email}}" style="color: #a404d4">{{site.Params.company.email}}</a></h4>
          <h4 class="mt-5 pt-5"><a href="{{site.Params.company.twitter}}" style="color: #a404d4">{{site.Params.company.twitter}}</a></h4>
        </div>
        </div>
      </div>
  </div>
{{ end }}
