{{ define "main" }}


<!-- Banner -->
<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="https://flitz-landing-site-assets.s3.eu-west-3.amazonaws.com/world_earth_nasa_planet_globe_space_310.mp4" type="video/mp4">
</video>
{{ with site.Data.homepage.banner }}
<div class="mt-5" >
    <div class="container vh-40">
        <div class="row" style="position:sticky;">
            <div class="row">
            <div class="col-md-6">
                <h1 style="color: #a404d4;">{{.title}}</h1>
                <h4 style="color: white;">{{.subTitle}}</h4>
            </div>
            <div><a href="{{.links.play_store}}"><img src="{{ .image.play_store | absURL}}" width=250></a></div>
            <div><a href="{{.links.appcenter}}"><img src="{{ .image.appcenter | absURL}}" width=225 style="margin-left: 50px"></a></div>
            </div>
        </div>
    </div>
</div>
{{end}}


<!-- Social -->
<div class="vh-40 mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-6 vh-20 d-none d-sm-block">
              <div class="row vh-10"></div>
              <div class="row">
              {{ with site.Data.homepage.description }}
                  <div class="col">
                      <p class="text-justify" style="color: white;">
                        {{.content}}
                      </p>
                  </div>
              {{end}}
              </div>
          </div>
          <div class="col-md-6">
            {{ range site.Params.social}}
              <a href="{{.link}}" target="_blank">
                  <h3 class="text-uppercase social-media-link">{{.title}}</h3>
              </a>
            {{end}}
          </div>
      </div>
  </div>
</div>

{{ end }}